*{
    margin: 0px;
}
.padre{
    background-color: rgb(198, 13, 13);
    height: 100vh;
    width: 100vw;
    position: relative;
    box-sizing: border-box;

    
}
.cont{
    background-color: rgba(154, 18, 18, 0.332);
    color: aliceblue;
    height: 100vh;
    width: 800px;
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.carousel-item img {
  height: 600px;       
  object-fit: cover;   
}



